<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · By Joseph Edward">
      <%= assigns[:page_title] || "Democrify" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      window.onload = function() {
        document.documentElement.style.setProperty("--vh", window.innerHeight * 0.01 + 'px');
      }
    </script>
  </head>

  <body class="bg-spotify_base font-montserrat text-spotify_white overflow-hidden absolute inset-0">

    <%!-- Live Dashboard Button --%>

    <%= if Application.get_env(:democrify, Democrify)[:env] == :dev do %>
      <header>
        <a class="pl-4"><%= link "Live Dashboard", to: ~p"/dev/dashboard" %></a>
      </header>
    <% end %>

    <%!-- Flash Displays --%>

    <.flash_group flash={@flash} />

    <%!-- Content --%>

    <%= @inner_content %>
  </body>
</html>
